<div>
	<!-- View mode -->
	<div *ngIf="!editMode">
		{{ drink.name }}<br />
		contains: {{ drink.ingredients }}
		<ng-container *ngIf="drink.alcohol">
			(contains alcohol)
		</ng-container><br />
		<button (click)="turnOnEdit()">Edit</button>
		<button (click)="deleteMe()">Delete</button>
	</div>
	<!-- Edit mode -->
	<div *ngIf="editMode">
		Name: <input type="text" [(ngModel)]="editObj.name" /><br />
		Ingredients: <input type="text" [(ngModel)]="editObj.ingredients" /><br />
		<input type="checkbox" [(ngModel)]="editObj.alcohol" /> Contains Alcohol<br />
		<button (click)="saveChanges()">Save</button>
		<button (click)="cancel()">Cancel</button>
	</div>
</div>
